/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Styling */
html {
  background: rgba(122, 191, 191, 0.5);
  margin: 0 auto;
}
body {
  background-color: #7abfbf;
  margin: 0 auto;
  width: 414px;
  padding: 0;
}
h1 {
  font-size: 40px;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  margin: 0;
  padding-top: 170px;
  background-color: #f2f2f2;
}
.icon-grid {
  width: 414px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 35px 30px;
  grid-gap: 1px 10px;
  justify-items: center;
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
  padding: 0px;
  list-style-type: none;
  background-color: #f2f2f2;
}
.icon-grid-item {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: #eb5428;
}
#tacos {
  background-color: #f2f2f2;
}
#tacos img {
  width: 414px;
  height: 100%;
}
#tacos ul {
  padding-left: 5px;
  padding-top: 10px;
}
#tacos p {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 22px;
}
#tacos h2,
.ingredients h2,
.directions h2,
.side-dish h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Bebas Neue", cursive;
  margin-bottom: 0;
  text-align: center;
  padding-top: 10px;
}
.details-grid-item {
  padding: 0px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
}
dl {
  margin-bottom: 10px;
}
dt {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
  margin-bottom: 5px;
}
dd {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
}
.ingredients li {
  padding: 5px;
  margin-left: 15px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
.directions {
  padding: 0px;
}
.directions li {
  margin-left: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 22px;
}
.menu {
  width: 414px;
  height: 70px;
  position: fixed;
  top: 0;
  background-color: #f2f2f2;
  border-bottom: 2px solid rgba(13, 13, 13, 0.5);
  z-index: 99;
}
.burger {
  position: absolute;
  top: 8px;
  left: 20px;
  background-color: #f2f2f2;
}
.logo {
  position: absolute;
  top: 0;
  left: 75px;
  background-color: #eb5428;
  width: 250px;
  height: 70px;
}
.home {
  position: absolute;
  top: 51px;
  left: 20px;
  color: #0d0d0d;
  font-size: 19px;
  font-family: "Bebas Neue", cursive;
}
.profile {
  position: absolute;
  top: 5px;
  right: 20px;
}
.profile:hover {
  cursor: pointer;
  background-color: #eb5428;
  color: #f2f2f2;
}
.signin {
  position: relative;
  position: absolute;
  top: 53px;
  right: 25px;
  color: #0d0d0d;
  font-size: 18px;
  font-family: "Bebas Neue", cursive;
}
.search-icon:hover {
  cursor: pointer;
}
.search-icon {
  position: absolute;
  top: 100px;
  margin-left: 312px;
  height: 45px;
  width: 45px;
  color: #f2f2f2;
  background-color: #eb5428;
}
.search-bar input {
  position: absolute;
  top: 100px;
  margin-left: 50px;
  height: 40px;
  width: 300px;
  border: 2px solid #eb5428;
}
.menu h2,
.search-bar h2,
.socials h2 {
  visibility: hidden;
  height: 1px;
}
.menu nav {
  background-color: #f2f2f2;
}
.menu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  background-color: #f2f2f2;
  text-align: center;
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
}

.menu li {
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu li:hover {
  background-color: #eb5428;
  color: #f2f2f2;
}
.menu li a {
  padding-left: 170px;
  padding-right: 170px;
  text-align: center;
}
.menu img {
  display: none;
}
.food {
  color: #eb5428;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.food:hover {
  color: #f2f2f2;
  text-align: center;
  background-color: #eb5428;
  cursor: pointer;
}
.icon-grid-item {
  display: grid;
}
.icon-grid-item:hover {
  cursor: pointer;
}
.icon-grid-item a:hover {
  background-color: #eb5428;
  color: #f2f2f2;
  cursor: pointer;
}
label {
  cursor: pointer;
  display: inline-block;
  padding: 13px 13px;
  user-select: none;
}
label svg {
  background-color: #ffffff;
  display: block;
  position: relative;
  transition: background-color 0.5s ease-out;
}
label span:before,
label span:after {
  background: #ffffff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.4s ease-out;
  width: 100%;
}
label span:after {
  top: -5px;
}
label span:before {
  top: 5px;
}
#dropdown {
  display: none;
}
input:checked ~ ul {
  max-height: 400px;
}

input:checked ~ label span {
  background: transparent;
}
input:checked ~ label:not(.steps) span:before,
input:checked ~ label:not(.steps) span:after {
  top: 0;
}
.socials {
  background-color: #f2f2f2;
  padding-top: 20px;
}
.socials ul {
  width: 414px;
  font-family: "Bebas Neue", cursive;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 35px 30px;
  grid-gap: 1px 10px;
  justify-items: center;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.icon-tabler-brand-facebook {
  padding-left: 15px;
}
.icon-tabler-brand-instagram {
  padding-left: 15px;
}
.icon-tabler-brand-youtube {
  padding-left: 10px;
}
.icon-tabler-brand-tiktok {
  padding-left: 10px;
}
.social-grid-item {
  display: grid;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.socials a {
  color: #eb5428;
  text-transform: uppercase;
  text-decoration: none;
  align-items: center;
}
.socials li a:hover {
  cursor: pointer;
  background-color: #eb5428;
  color: #f2f2f2;
}
.side-dish-grid {
  display: grid;
  grid-template-rows: 150px 150px 150px 150px;
  grid-template-columns: 1fr;
  margin-top: 30px;
  margin-left: 20px;
}
.side-grid-item:hover,
.side-dish-grid img:hover {
  background-color: #f2a007;
  cursor: pointer;
}
.side-dish h2 {
  margin-top: 0px;
  margin-bottom: 10px;
}
.side-dish h3 {
  font-size: 25px;
  font-family: "Bebas Neue", cursive;
  margin-top: -5px;
  margin-left: 110px;
}
.side-dish img {
  height: 90px;
  width: 90px;
  float: left;
}
.side-dish svg {
  display: inline-block;
  margin-top: 10px;
}
figcaption,
.rating {
  margin-top: 10px;
  margin-left: 110px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.rating {
  font-weight: bold;
}
.stars {
  margin-left: 110px;
  margin-top: -8px;
}
footer {
  width: 414px;
  background-color: #f2f2f2;
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  padding-top: 10px;
}
footer p {
  margin: 0px;
}
footer img {
  width: 150px;
  height: 150px;
  padding-top: 10px;
}
/* MEDIA QUERY FOR 768 */
@media screen and (min-width: 768px) {
  body {
    width: 768px;
    margin: auto;
    padding: 0;
  }
  .menu {
    width: 768px;
    height: 180px;
    position: fixed;
    top: 0;
    background-color: #f2f2f2;
    border-bottom: 2px solid rgba(13, 13, 13, 0.5);
    z-index: 99;
  }
  .menu img {
    display: grid;
    height: 50px;
    width: 50px;
    margin: 0 auto;
  }
  .burger {
    visibility: hidden;
  }
  .menu-text {
    visibility: hidden;
  }
  .logo {
    position: absolute;
    top: 0;
    left: 0px;
    background-color: #eb5428;
    width: 90px;
    height: 75px;
  }
  .search-icon {
    position: fixed;
    top: 12px;
    margin-left: 620px;
    height: 46px;
    width: 46px;
    background-color: #eb5428;
    z-index: 100;
  }
  .search-bar input {
    position: fixed;
    top: 12px;
    margin-left: 350px;
    height: 40px;
    width: 300px;
    border: 2px solid#eb5428;
    z-index: 100;
  }
  .menu ul {
    overflow: visible;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 768px;
    padding-top: 40px;
  }
  .menu li a {
    padding: 0px;
    display: grid;
    margin-top: 20px;
    color: #eb5428;
  }
  .menu li {
    padding: 0px;
  }
  .menu li:hover {
    background-color: transparent;
    color: #f2f2f2;
  }
  input {
    width: 100%;
    height: 40px;
    z-index: 100;
  }
  .icon-grid {
    position: absolute;
    width: 768px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 35px 30px;
    grid-gap: 1px 10px;
    font-size: 20px;
    font-family: "Bebas Neue", cursive;
    padding: 0px;
    list-style-type: none;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.65);
  }
  .icon-grid-item:hover {
    cursor: pointer;
  }
  .icon-grid-item {
    display: grid;
    padding: 5px;
    color: #eb5428;
    padding-top: 10px;
  }
  .icon-grid-item a:hover {
    background-color: #eb5428;
    color: #f2f2f2;
    cursor: pointer;
  }
  #tacos h1 {
    text-align: left;
    padding-left: 15px;
    margin-top: 30px;
  }
  #tacos img {
    width: 768px;
    height: 100%;
  }
  .details-grid-item {
    text-align: center;
  }
  .mid-grid {
    width: 768px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1px 10px;
    padding: 0px;
  }
  .mid-grid-item {
    display: grid;
    padding: 5px;
  }
  aside {
    height: 350px;
  }
  .side-dish-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
  .side-dish h2 {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .side-dish h3 {
    font-size: 25px;
    font-family: "Bebas Neue", cursive;
    margin-top: -5px;
    margin-left: 110px;
  }
  .side-dish img {
    height: 100px;
    width: 100px;
  }
  .side-dish-item p {
    margin-top: 10px;
    margin-left: 110px;
  }
  .stars {
    margin-left: 170px;
    margin-top: -28px;
  }
  .socials {
    background-color: #f2f2f2;
    height: 20px;
  }
  .socials ul {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 35px 30px;
    grid-gap: 1px 1px;
    justify-items: center;
    position: absolute;
    margin-left: 275px;
    font-size: 20px;
    font-family: "Bebas Neue", cursive;
    padding: 0px;
    list-style-type: none;
  }
  .social-grid-item {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  .socials a {
    color: #eb5428;
    text-transform: uppercase;
    text-decoration: none;
  }
  .socials li a:hover {
    cursor: pointer;
    background-color: #eb5428;
    color: #f2f2f2;
  }
  .side-dish img {
    margin-left: 0px;
  }
  footer {
    width: 768px;
    height: 280px;
    background-color: #f2f2f2;
    font-size: 20px;
    font-family: "Bebas Neue", cursive;
    text-align: center;
    padding-top: 10px;
  }
  footer p {
    margin: 0px;
    padding-right: 450px;
  }
  footer img {
    width: 175px;
    height: 175px;
    padding-right: 450px;
  }
}
/* MEDIA QUERY FOR 1280 */
@media screen and (min-width: 1280px) {
  body {
    background-color: #7abfbf;
    margin: 0 auto;
    width: 1280px;
    padding: 0;
  }
  aside {
    height: 500px;
  }
  .menu {
    width: 1280px;
    height: 105px;
  }
  .menu ul {
    margin-left: 275px;
  }
  .logo {
    width: 90px;
    height: 75px;
    padding: 15px;
  }
  .menu li a {
    margin-top: -50px;
  }
  .search-icon {
    position: absolute;
    top: 140px;
    margin-left: 755px;
    height: 45px;
    width: 45px;
    z-index: 98;
  }
  .search-bar input {
    position: absolute;
    top: 140px;
    margin-left: 485px;
    height: 40px;
    width: 300px;
    border: 2px solid #eb5428;
    z-index: 98;
  }
  #tacos h1 {
    text-align: center;
    padding-left: 0px;
    margin-top: 50px;
  }
  #tacos ul {
    padding-left: 0px;
  }
  #tacos img {
    width: 550px;
    height: 100%;
    margin-left: 80px;
    background-color: #f2f2f2;
  }
  .icon-grid {
    position: absolute;
    padding-top: 20px;
    grid-template-rows: repeat(8, 40px);
    grid-template-columns: 1fr;
    width: 78px;
    height: 801px;
    border: 2px solid #eb5428;
    background-color: transparent;
  }
  .icon-grid-item:nth-of-type(1) {
    order: 1;
  }
  .icon-grid-item:nth-of-type(2) {
    order: 3;
  }
  .icon-grid-item:nth-of-type(3) {
    order: 5;
  }
  .icon-grid-item:nth-of-type(4) {
    order: 7;
  }
  .icon-grid-item:nth-of-type(5) {
    order: 2;
  }
  .icon-grid-item:nth-of-type(6) {
    order: 4;
  }
  .icon-grid-item:nth-of-type(7) {
    order: 6;
  }
  .icon-grid-item:nth-of-type(8) {
    order: 8;
  }
  #tacos p {
    position: relative;
    bottom: 835px;
    left: 650px;
    width: 600px;
    line-height: 2;
  }
  .details {
    position: absolute;
    top: 1092px;
    width: 1280px;
    background-color: #0d0d0d;
    color: #7abfbf;
  }
  .details-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    padding-bottom: 10px;
  }
  .details-grid-item {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    column-gap: 30px;
  }
  dt,
  dd {
    display: flex;
    margin: 0;
    padding: 5px;
  }
  .mid-grid {
    position: static;
    top: 1300px;
    margin-bottom: 400px;
    width: 1280px;
    grid-template-columns: 1fr 5fr;
    margin-top: -170px;
  }
  .directions {
    position: absolute;
    top: 1300px;
    width: 1050px;
  }
  .side-dish {
    margin-top: -390px;
    margin-left: 15px;
  }
  .side-dish h2 {
    text-align: center;
    justify-content: center;
  }
  .side-dish-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    padding: 0px;
  }
  .side-grid-item {
    grid-row-end: 4;
  }
  .side-dish-grid img {
    width: 250px;
    height: 250px;
    padding: 0px;
    border: 0px;
  }
  .side-dish h3 {
    font-size: 25px;
    font-family: "Bebas Neue", cursive;
    margin-top: 280px;
    margin-left: 10px;
  }
  .side-dish-item p {
    margin-left: 10px;
  }
  figcaption,
  .rating {
    margin-left: 10px;
  }
  .stars {
    margin-left: 75px;
    margin-top: -28px;
  }
  .socials ul {
    margin-left: 680px;
    margin-top: 30px;
    grid-gap: 1px 75px;
  }
  footer {
    width: 1280px;
    height: 250px;
  }
  footer img {
    margin-left: -600px;
  }
  footer p {
    text-align: left;
    margin-left: 230px;
    margin-top: -160px;
  }
  footer div {
    position: absolute;
    top: 2150px;
  }
}
